.userdata{
  width: 400px;
  height:80px;
  margin-left: auto;
  margin-right: auto;
  background: #558B2F;
   background: -webkit-linear-gradient(#558B2F, #7CB342);
   background: -o-linear-gradient(#558B2F, #7CB342);
   background: -moz-linear-gradient(#558B2F, #7CB342);
   background: linear-gradient(#558B2F, #7CB342);
}
