/*======= Barra =================================*/

.barra-full{
     width: 100%;
     height:70px;
     background: #558B2F;
    background: -webkit-linear-gradient(#558B2F, #7CB342);
    background: -o-linear-gradient(#558B2F, #7CB342);
    background: -moz-linear-gradient(#558B2F, #7CB342);
    background: linear-gradient(#558B2F, #7CB342);

}
.barra-full-center{
      width: 1200px;
      height:80px;
      margin-left: auto;
      margin-right: auto;
}
